#packages {
  padding: 80px 0;

  .section-description {
    margin-bottom: 20px;

    .title {
      margin-bottom: 15px;
    }

    .description {

      p {
        color: $light;
        margin-bottom: 0;
        font-size: .75rem;

        @media (min-width: map_get($grid-breakpoints, md)) {
          font-size: $font-size-base;
        }
      }
    }
  }

  .packages-card {
    max-width: 350px;
    margin: 0 auto 30px;

    &-item {
      @extend %decorItem;
      padding: 30px 15px;
      margin-bottom: 3px;

      @media (min-width: map_get($grid-breakpoints, md)) {
        padding: 30px;
      }

      .title {
        text-align: center;
        margin-bottom: 0;
      }

      .hit {
        @extend %decorItem;
        padding: 4px 17px;
        color: #fff;
        line-height: 1;
        position: absolute;
        top: 0;
        right: 0;
        background: $primary;
        z-index: -3;

        .decor-left {

          &::before {
            display: none;
          }
        }
      }

      .description {

        ul {
          @extend %decorList;
        }
      }

      .price {
        text-align: center;

        .old-price {
          color: $light;
        }

        .main-price {
          color: $dark;
          font-size: 1.125rem;
          font-weight: bold;
        }
      }

      .select {
        text-align: center;

        .description {
          color: $dark;
          margin-bottom: 10px;
        }

        .btn {
          color: $dark;
          
          &:hover {
            color: #fff;
          }
        }
      }
    }
  }

  .places-left {
    text-align: center;
    margin-bottom: 40px;

    @media (min-width: map_get($grid-breakpoints, md)) {
      margin-bottom: 0;
    }

    .description {
      color: $light;
      font-size: .75rem;
      margin-bottom: 10px;

      span {
        color: $dark;
        font-weight: bold;
      }
    }

    .places-progress-bar {
      position: relative;
      width: 120px;
      height: 5px;
      background: #E9E9E9;
      border-radius: 10px;
      margin: 0 auto;

      .driver {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background: $primary;
        border-radius: 10px;
        transition: .5s;
      }
    }
  }
}