$light: #888;
$primary: #FD6323;
$dark: #232D45;
$secondary: #FF8D4F;

$body-color: #555555;
$body-bg: #F6F6F6;

$font-size-base: 0.875rem;
$font-family-base: 'Open Sans', sans-serif;
$headings-font-family: 'Play', sans-serif;

$link-color: #fff;
$link-hover-decoration: none;
$input-btn-focus-width: 0;
$input-btn-focus-color: rgba(#fff, 0);
$input-btn-focus-box-shadow: 0 0 0 $input-btn-focus-width $input-btn-focus-color;

$breadcrumb-padding-y: 0;
$breadcrumb-padding-x: 0;
$breadcrumb-item-padding: .714rem;
$breadcrumb-margin-bottom: 1.875rem;
$breadcrumb-bg: transparent;
$breadcrumb-divider-color: #A1A8B5;
$breadcrumb-active-color: #A1A8B5;
$breadcrumb-border-radius: 0;
$breadcrumb-divider: '';

$border-width: 3px;

$border-radius: 3px;
$btn-padding-x: 25px;
$btn-padding-y: 15px;

$h1-font-size: 1rem * 1.875;
$h2-font-size: 1rem * 2.25;
$h3-font-size: 1rem * 1.625;
$h4-font-size: 1rem * 1.375;
$h5-font-size: 1rem * 1.125;
$h6-font-size: 1rem;

